src/pug/catalogue/catalogue.pug
include ../canvas/canvas

mixin link(label)
  li.catalogue__link
    a(href="/catalogue-item.html")= label

mixin header(label)
  li.catalogue__header
    h2= label

mixin catalogue
  +canvas('Каталог')
    .catalogue
      ul.catalogue__links
        +header('Кузова-контейнеры')
        +link('Постоянного объема')
        +link('Переменного объема')

        +header('Кузова-фургоны')
        +link('Стандартные')
        +link('На прицепах')
        +link('На полуприцепах')
        +link('Переменного объема на полуприцепах')

        +header('Прочее')
        +link('Ремонтно-эвакуационные машины')
        +link('Дизельные электроагрегаты и электростанции')

public/catalogue.html

<html lang="en-us"></html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>gulp-boilerplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0"/>
  <meta name="description" content="a starting point for using gulp"/>
  <link rel="stylesheet" href="css/gulp-boilerplate.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&amp;amp;subset=latin,cyrillic-ext"/>
  <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css"/>
  <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css"/>
  <script src="assets/owl-carousel/owl.carousel.js"></script>
</head>
<body>
  <div class="bg" style="background-image:url('/img/bg-catalogue.jpg')"></div>
  <div class="content">
    <div class="canvas">
      <h1 class="canvas__header">Каталог</h1>
      <div class="catalogue">
        <ul class="catalogue__links">
          <li class="catalogue__header">
            <h2>Кузова-контейнеры</h2>
          </li>
          <li class="catalogue__link"><a href="/catalogue-item.html">Постоянного объема</a></li>
          <li class="catalogue__link"><a href="/catalogue-item.html">Переменного объема</a></li>
          <li class="catalogue__header">
            <h2>Кузова-фургоны</h2>
          </li>
          <li class="catalogue__link"><a href="/catalogue-item.html">Стандартные</a></li>
          <li class="catalogue__link"><a href="/catalogue-item.html">На прицепах</a></li>
          <li class="catalogue__link"><a href="/catalogue-item.html">На полуприцепах</a></li>
          <li class="catalogue__link"><a href="/catalogue-item.html">Переменного объема на полуприцепах</a></li>
          <li class="catalogue__header">
            <h2>Прочее</h2>
          </li>
          <li class="catalogue__link"><a href="/catalogue-item.html">Ремонтно-эвакуационные машины</a></li>
          <li class="catalogue__link"><a href="/catalogue-item.html">Дизельные электроагрегаты и электростанции</a></li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="nav"><a class="logo" href="/">
      <svg viewBox="0 0 107 25">
        <path fill="#FFFFFF" d="M26.9 0h-3.6L22 2H0v23h23V5.8L26.9 0zm-6.7 5l-2.9 5h-3.5l-2.4 4H8.3L3 21.5V5h17.2zM20 22h-6.3L20 10.7V22zM51.8 4.2c-.2-.5-.4-.9-.8-1.2-.4-.3-.8-.1-1.4-.2-.6-.2-1.2.2-2 .2H42v9h2V9.4h3.3c.7 0 1.6-.1 2.1-.3.6-.1 1.1-.4 1.5-.7.4-.3.7-.7.9-1.2.2-.4.3-.9.3-1.5s-.1-1.1-.3-1.5zm-3.2 3.4c-.3.1-.6.4-.9.4H44V5h3.7c.7 0 1.2-.3 1.5 0 .3.3.5.4.5 1 0 .3 0 .4-.1.6-.1.2-.2.5-.4.6-.2.1-.4.3-.6.4zM63.6 4.9c-.3-.6-.7-1.2-1.2-1.6-.5-.4-1.1-.8-1.8-1-.6-.3-1.4-.4-2.2-.4-.8 0-1.6.1-2.3.4-.7.2-1.3.6-1.8 1s-.9 1-1.2 1.6c-.3.6-.4 1.3-.4 2.1 0 .7.1 1.4.4 2.1.3.6.7 1.2 1.2 1.6.5.4 1.1.8 1.8 1.1.7.2 1.5.4 2.3.4.8 0 1.6-.1 2.3-.4.7-.2 1.3-.6 1.8-1.1.5-.5.9-1 1.2-1.6.2-.7.3-1.4.3-2.1 0-.8-.1-1.5-.4-2.1zM57 9.8c-.4-.1-.8-.3-1.1-.6-.3-.3-.5-.6-.7-1-.1-.3-.2-.8-.2-1.2 0-.5.1-.9.3-1.3.1-.4.4-.7.7-.9.3-.3.7-.5 1.1-.6.3-.1.8-.2 1.3-.2s.9.1 1.4.2c.4.1.8.3 1.1.6.3.3.5.6.7.9.2.4.3.8.3 1.3s-.1.9-.3 1.3c-.2.4-.4.7-.7 1-.3.3-.7.5-1.1.6-.9.2-1.9.2-2.8-.1zM67 10V8h5V6h-5V5h6V3h-9v9h9v-2zM84.6 3h-2.9L76 6.8V3h-2v9h2V9.6l1.7-1.2 3.9 3.6h3l-4.9-4.7zM85 3v2h3v7h3V5h3V3zM30 3v9h3V5h5v7h3V3zM30 15v2h4v8h2v-8h4v-2zM43 23v-2h5v-2h-5v-2h6v-2h-8v10h8v-2zM57.2 19.9l3.9-4.9h-2.8l-2.5 3.2-2.4-3.2h-2.8l3.8 4.9-4.1 5.1H53l2.7-3.3 2.7 3.3h2.8zM70 15v4h-6v-4h-2v10h2v-4h6v4h2V15zM81.5 15L75 21.1V15h-2v10h2.8l5.2-7v7h2V15zM94.8 15h-2.9L87 19.2V15h-3v10h3v-3l1.3-.9 3.5 3.9h3l-4.9-5.2zM102.2 15h-2.3l-4.6 10h2.4l.7-2h5.4l.8 2h2.4l-4.8-10zm.7 6h-3.5l1.8-3.8 1.7 3.8z"></path>
      </svg></a>
    <button class="hamburger">
      <svg viewBox="0 0 20 20">
        <path d="M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z"></path>
      </svg>
    </button>
    <div class="menu"><a class="menu__item menu__item--back" href="/">Главная</a>
      <div class="menu__items menu__items--offset"><a class="menu__item" href="/about.html">О нас</a><a class="menu__item" href="/news.html">Новости</a><a class="menu__item" href="/job.html">Карьера</a><a class="menu__item menu__item--active" href="/catalogue.html">Каталог</a><a class="menu__item" href="/contacts.html">Контакты</a><hr /><a class="menu__item" href="">Полная версия сайта</a>
      </div>
    </div>
  </nav>
  <script src="js/gulp-boilerplate.js"></script>
</body>
