public/catalogue-item.html

<html lang="en-us"></html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>gulp-boilerplate</title>
  <meta name="description" content="a starting point for using gulp"/>
  <link rel="stylesheet" href="css/gulp-boilerplate.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&amp;amp;subset=latin,cyrillic-ext"/>
  <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css"/>
  <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css"/>
  <script src="assets/owl-carousel/owl.carousel.js"></script>
</head>
<body>
  <div class="catalogue-item">
    <div class="catalogue-item--nav"><a class="back-link back-link--large" href="/catalogue.html"><span class="back-link__arrow">❮</span><span>Назад</span></a>
    </div>
    <div class="catalogue-item--content">
      <p>Здесь содержимое основной колонки соотв продукта: http://www.pr-t.ru/catalog/bazovye-izdeliya/kuzova-furgony-na-pritsepakh/</p>
    </div>
    <div class="catalogue-item--nav"><a class="back-link back-link--large" href="/catalogue.html"><span class="back-link__arrow">❮</span><span>Назад</span></a>
    </div>
  </div>
  <script src="js/gulp-boilerplate.js"></script>
</body>

src/pug/catalogue-item/catalogue-item.pug
include ../back-link/back-link

mixin catalogue-item
  .catalogue-item
    .catalogue-item--nav
      +back-link('/catalogue.html', large=true)
      
    .catalogue-item--content
      p Здесь содержимое основной колонки соотв продукта: http://www.pr-t.ru/catalog/bazovye-izdeliya/kuzova-furgony-na-pritsepakh/

    .catalogue-item--nav
      +back-link('/catalogue.html', large=true)
